apiVersion: apps/v1
kind: Deployment
metadata:
  name: joossam-app
  labels:
    app: joossam-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: joossam-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app: joossam-app
    spec:
      containers:
        - name: joossam-app
          image: gitea0213.kro.kr/bluemayne/joossam:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              protocol: TCP
          env:
            - name: ENV
              value: production
          resources:
            requests:
              memory: "100Mi"
              cpu: "50m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
      restartPolicy: Always
