apiVersion: v1
kind: Service
metadata:
  name: joossam-service
  labels:
    app: joossam-app
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
  selector:
    app: joossam-app
