apiVersion: apps/v1
kind: Deployment
metadata:
  name: joossam-app
  labels:
    environment: production
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: joossam-app
          resources:
            requests:
              memory: "100Mi"
              cpu: "50m"
            limits:
              memory: "200Mi"
              cpu: "200m"
